<!DOCTYPE html>
<html lang="en">
<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="nav-fragment">
  <div class="container">
    <span class="navbar-brand mb-0 h1"><i class="fas fa-check-square"></i> Todo List</span>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#myNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="myNav">
      <form th:action="@{/logout}" method="post">
        <input class="btn btn-success" type="submit" value="Log Out"/>
      </form>
    </div>
  </div>
</nav>
</html>