<!DOCTYPE html>
<html lang="en">
<head id="head">
    <meta charset="UTF-8">
    <title>Title Content</title>
</head>
<body>
<div class="container" align="center">
    <a class="button is-primary" id="new-item">New Item</a>
    <table class="table">

        <caption><h2 class="title">Todo Items</h2></caption>

        <tr>
            <th class="title is-5">Title</th>
            <th class="title is-5">Deadline</th>
            <th class="title is-5">View</th>
            <th class="title is-5">Edit</th>
            <th class="title is-5">Delete</th>
        </tr>

        <tr id="items-table">
            <td id="item-title"/>
            <td id="item-deadline"></td>
            <td><a class="button is-info" id="item-view-button"></a></td>
            <td><a class="button is-primary" id="item-edit-button"> </a></td>
            <td><a class="button is-danger" id="item-delete-button"> </a></td>
        </tr>
    </table>
    <footer class="footer" id="footer">
        Created by Name
    </footer>
</div>
</body>
</html>