<!DOCTYPE html>
<html lang="en">
<head id="head">
    <meta charset="UTF-8">
    <title>Title Content</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand mb-0 h1"><i class="fas fa-check-square"></i> Todo List</span>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#myNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="myNav">
            <form th:action="@{/logout}" method="post">
                <input class="btn btn-success" type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>

</nav>

<div class="container">

    <div id="jumbo" class="jumbotron jumbotron-fluid text-white">
        <div class="container">
            <h1 class="display-4">Todo Items</h1>
            <p class="lead">Welcome to the Todo List Application made by Levi Verkerk. This is a hobby project to get familiar with Spring Boot, Hibernate JPA and Spring Security.</p>
            <a class="btn btn-danger btn-lg" id="new-item">Add new item!</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-warning alert-dismissible fade show" th:if="${isDeleted}">
                <h4 class="alert-heading">Watch out!</h4>
                You are deleting a record!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
            </div>
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Deadline</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>

                <tr class="" id="items-table">
                    <td class="" id="item-title"/>
                    <td class="" id="item-deadline"></td>
                    <td class=""><a class="btn btn-info" id="item-view-button"></a></td>
                    <td class=""><a class="btn btn-primary" id="item-edit-button"> </a></td>
                    <td class=""> <a class="btn btn-danger" id="item-delete-button"> </a></td>
                </tr>
            </table>
        </div>
    </div>

    <footer class="footer" id="footer">
        footer text
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
</div>

</body>
</html>