<!DOCTYPE html>
<html lang="en">
<head id="head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 p-3 mb-4 shadow">
            <h3 class="text-center my-4" id="title">register</h3>
            <form id="form" method="POST" enctype="utf8">
                <div class="form-row">
                    <div class="form-group col-md">
                        <label text="First Name" id="form-firstname-label">first</label>
                        <input class="form-control" placeholder="Enter first name..." id="form-firstname-input"/>
                        <div class="invalid-feedback" id="form-firstname-error">Validation error</div>
                    </div>
                    <div class="form-group col-md">
                        <label text="Last Name" id="form-lastname-label">last</label>
                        <input class="form-control" id="form-lastname-input"/>
                        <div class="invalid-feedback" id="form-lastname-error">Validation error</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label text="Email address" id="form-email-label">email</label>
                        <input class="form-control" type="email" placeholder="example@example.com"
                               id="form-email-input"/>
                        <div class="invalid-feedback" id="form-email-error">Validation error</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="username">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-xl">
                        <label text="Password" id="form-password-label">password</label>
                        <input type="password" class="form-control" id="form-password-input" name="password">
                        <div class="invalid-feedback" id="form-password-error">Validation error</div>
                    </div>
                    <div class="form-group col-xl">
                        <label id="form-passwordconfirm-label">Confirm</label>
                        <input type="password" class="form-control" id="form-passwordconfig-input" name="password">
                    </div>
                </div>

                <input type="hidden"/>

                <button type="submit" id="form-submit" class="btn btn-lg btn-info btn-block my-3">submit</button>
            </form>
        </div>
    </div>

    <footer class="footer" id="footer">
        footer text
    </footer>

</div>


</body>
</html>